body {
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    background-color:bisque;
    color:rgb(255, 132, 0);

}
button {
    height: 60px;
    width: 90px;
    font-family: cursive;
    font-weight: bold;
    font-size: large;
    color:black;
    background-color: rgb(255, 132, 0);
    cursor: pointer;
    border-radius: 10px;
}